<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/resources/css/header.css" th:href="@{/resources/css/header.css}">
    <title>Welcome</title>
</head>
<body>
<h1 align="middle" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<div th:replace="fragments/header :: headerSignedIn">2</div>
<img src="../static/resources/images/Welcome2.png" th:src="@{/resources/images/Welcome2.png}" width="1800" height="1000">
</body>
</html>